{% extends 'site/base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}
    
    <h1 class="col-12 text-center my-5 h3">Tableau de bord</h1>

    <div class="row justify-content-around">
        <div class="col-4 d-flex justify-content-center align-items-center p-5">
            <a class="btn btn-lg btn-info" href="{{ path('app_site_calcul_distance') }}">Calculs distances</a>
        </div>
        <div class="col-4 d-flex justify-content-center align-items-center p-5">
            <a class="btn btn-lg btn-primary disabled" href="#">A venir...</a>
        </div>
        <div class="col-4 d-flex justify-content-center align-items-center p-5">
            <a class="btn btn-lg btn-primary disabled" href="#">A venir...</a>
        </div>
    </div>  

{% endblock %}
