<footer class="mt-auto text-white-50 text-center">
    <p><a href="https://www.je-developpe.fr/" class="text-white">Site créé par: Je-Développe</a></p>
    <p><small>Version 1.00</small></p>
</footer>