<!DOCTYPE html>

<title>New Cgo</title>

{% block body %}
    <h1>Create new Cgo</h1>

    {{ include('cgo/_form.html.twig') }}

    <a href="{{ path('app_cgo_index') }}">back to list</a>
{% endblock %}
