<form class="mt-2" method="post" action="{{ path('app_shop_delete', {'id': shop.id}) }}" onsubmit="return confirm('Vous êtes sûr de vouloir supprimer ce centre?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ shop.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
