{% extends 'site/base.html.twig' %}

{% block title %}Liste des centres rattachés au CGO{% endblock %}

{% block body %}

    <h1 class="col-12 text-center my-5 h1">Liste des centres rattachés au CGO</h1>

    <div class="col-12 text-end">
        <a class="btn btn-primary" href="{{ path('app_shop_new') }}">Créer un centre +</a>
    </div>

    <table class="table text-center align-middle my-5">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Adresse</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for shop in shops %}
            <tr>
                <td>{{ shop.name }}</td>
                <td>{{ shop.address }}</td>
                <td>
                    <a class="btn btn-sm btn-warning" href="{{ path('app_shop_edit', {'id': shop.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucunes données pour le moment...</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
