{% extends 'site/base.html.twig' %}

{% block title %}Attacher un nouveau centre au CGO{% endblock %}

{% block body %}
    <h1 class="col-12 text-center h3">Attacher un nouveau centre au CGO</h1>

    <div class="col-12">
        <a class="btn btn-info" href="{{ path('app_shop_index') }}">Retour à la liste</a>
    </div>
    
    {{ include('site/shop/_form.html.twig') }}


{% endblock %}
